h1 {
    color: red;
}

.camel {
    color: yellow;
}

.chameleon {
    color: greenyellow;
}

.pigeon {
    color: lightblue;
}

.bear {
    color: orange;
}

.panda {
    color: gray;
}

.cicada {
    color: orange;
}